.l-body {
	background-color: #dae6e6;
}

.l-header {
	background-color: #056b8e;
	color: #fff;
}

.toolbar-title {
	color: #fff;
}

.toolbar-button-menu {
	background-color: #0a6283;
	border-top-color: #1a5567;
	border-bottom-color: #1a5567;
	border-left-color: #1a5567;
	-moz-box-shadow: inset 0 0 4px #1a5567;
	-webkit-box-shadow: inset 0 0 4px #1a5567;
	box-shadow: inset 0 0 4px #1a5567;
}

.toolbar-nav-divider {
	border-right-color: #5699b0;
}

.drop-menu-box {
	background-color: #fff;
	box-shadow: 0 0 20px #75a0af;
}

.drop-menu-top-hdr,
.drop-menu-top-link {
	color: #056b8e;
}

.drop-menu-divider {
	border-bottom-color: #d1eaf3;
}

.drop-menu-sub-link {
	color: #4d4d4d;
}

.home-menu.is-active, .home-menu:hover {
	background-color: #125577;
}